---
---

/*

  Here's where you can change stuff about the visual style!

*/

/* this is the background color */
$background-color: #ffffff;

/* this is used for the body text */
$dark-color: #222222;

/* this is used for link text */
$accent-color: #211CA7;

/* this is used for the card background color */
$card-color: #f8f8f8;

/* this sets the aspect ratio for your card images */
/* basic aspect ratio guide! */
/*
  16:9: 56.25%
  4:3:  75%
  3:2:  66.66%
  8:5:  62.5%
*/

$card-aspect-ratio: 56.25%;




/*

  Don't touch stuff down here!!!!!!!

*/

/*
  universal styles
*/

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  color: $dark-color;
  background: $background-color;
}

a { text-decoration: none; }

a:link, a:visited { color: $accent-color; }
a:hover, a:active { color: darken($accent-color, 20%); }

hr {
  border-top: 2px solid $accent-color;
  margin: 16px auto;
}

p {
  line-height: 140%;
}

header {
  min-height: 60px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparentize($background-color, 0.2);
}

header h1 {
  margin-left: 32px;
}

header nav {
  margin-left: auto;
  margin-right: 32px;
  font-size: 1.2em;
}

header nav div {
  display: inline;
  margin-left: 8px;
}

/*header a {
  text-decoration: none;
}
*/
main {
  padding: 80px 0;
  margin: auto;
  width: 90%;
  max-width: 1200px;
  min-height: 75vh;
}

footer {
  background: darken($background-color, 8%);
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer nav a {
  margin: 0 8px;
}

footer div {
  margin-top: 16px;
  color: mix($dark-color, $background-color);
  font-size: 0.8em;
}

footer div a:link, footer div a:visited { color: mix($dark-color, $background-color, 40%); }
footer div a:hover, footer div a:active { color: mix($dark-color, $background-color, 60%); }



/*
  gallery styles
*/

.gallery {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}

.gallery .project {
  background: $card-color;
  border-radius: 6px;
  width: calc(50% - 32px);
  margin: 16px;
  box-shadow: 0 -3px darken($card-color, 15%) inset;
}

.gallery .project:hover {
  background: darken($card-color, 4%);
  box-shadow: 0 -3px darken($card-color, 19%) inset;
}

.gallery .project div {
  width: 100%;
  padding-bottom: $card-aspect-ratio;
  background-size: cover;
  background-position: center center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.gallery .project h2 {
  text-align: center;
}

/*
  project styles
*/

.project {
  width: 90%;
  max-width: 760px;
  margin: auto;
}

.project img {
  max-width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  margin-bottom: 16px;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
  about styles
*/




/*
  media styles
*/

@media (max-width: 600px) {
  header {
    font-size: 0.8em;
  }

  .gallery .project {
    width: calc(100% - 32px);
  }

  main {
    padding-top: 120px;
  }

}


